html {
    font-size: 62.5%; /* 10px */

    /* color variables: */
    --primary-color: #1C1F21;
    --secondary-color: #D23535;
}

body {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.flex-container {
    display: flex;
}

.page-content {
    flex-direction: column;
}

/* text definitions */
.title {
    font-size: 3.5rem;
    color: var(--secondary-color);
}

.subheading {
    font-size: 2rem;
    color: #FFFFFF;
}

.text-d1 {
    font-size: 1.75rem;
}

/* LIST OF GAMES SECTION */
.list-of-games {
    /* background-color: #605770; */

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50vh;
}

/* ADD A GAME SECTION */
.add-a-game{
    /* background-color: #E2A0FF; */

    width: 100vw;
    height: 50vh;

    justify-content: center;
    align-items: center;
}


/* ----- Buttons CSS ----- */
/* Type 1 button*/
.type-1-button {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.type-1-button:hover,
.type-1-button:focus {
  background-color: #D34E4E;
}

/* general */
a {
    text-decoration: none;
}

a .option:hover {
    cursor: pointer;
}
