* {
    font-family: 'Inter', sans-serif;
}

.home-main-content-box {
    /* background-color: #048A81; */

    flex-direction: column;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.home-section-content-box {
    /* background-color: #06D6A0; */

    width: 80vw; 

    height: 60%vh;
    max-height: 80vh;
    min-height: 30vh;

    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;

    grid-template-rows: 1fr auto auto 1fr;
    grid-row-gap: 0;
}

#welcome-message, #website-description-content-box, 
form {
    grid-column: 2 / 5;
}

#welcome-message {
    text-align: center;

    grid-row: 1 / 2;

    justify-self: center;
    align-self: end;

    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 0.5rem;
}

#website-description-content-box {
    grid-row: 2 / 3;

    flex-direction: column;
    align-items: center;
}

#website-description {
    text-align: center;
}

form {
    /* ! */
    grid-row: 3 / 4;
    justify-self: center;
}

.row-4 {
    /* ! */
    grid-column: 3/4;
    grid-row: 4/5;

    flex-direction: column;
    align-items: center;
}

.home-login-input-container {
    justify-content: space-between;
}

/* .home-login-label .user {
    +implement
} */

.home-login-input-container .user {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.home-login-input-container .password {
    margin-bottom: 1rem;
}

.generic-label {
    font-weight: bold;
}

.home-login-label {
    margin-right: 1rem;
}

.login-button {
    margin-bottom: 0.5rem;

    grid-column: 3 / 4;

    width: 7rem;
}

.recover-login-info {
    text-align: center;

    color: #1BB1E0;
    font-size: 0.75rem;

    grid-column: 3 / 4;
}

/* --- MEDIA QUERIES --- */
/* small screen devices */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* mid-range breakpoint */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #welcome-message, #website-description-content-box {
        grid-column: 1 / -1;
    }

    form, .row-4 {
        grid-row: 3 / 4;
    }

    form {
        grid-column: 2 / 3;
        justify-self: end;
    }

    .row-4 {
        grid-column: 3 / 4;

        align-self: center;
        justify-self: center;
    }
}

/* (+) Note: max. intended  box size: ~ 1460 x 380 */

/* desktop-alike screen (target) */
/* @media screen and (min-width: 1025px) {
    ...
    ** padrão
} */

/* very big screen size ~ 2500px */
