.main-content {
    /* background-color: #06D6A0; */

    flex-direction: column;
    
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.login-form {
    /* background-color: #048A81; */

    flex-direction: column;

    width: 70%;
    height: 70%;
    
    align-items: center;
}

#welcome-message {
    font-size: 2rem;

    margin-bottom: 0.5rem;
}

#website-description {
    margin-bottom: 1.5rem;
}

.recover-login-info {
    color: #1BB1E0;
    font-size: 0.75rem;
}
